.products-table {
  display: flex;
}

.products-table__menu {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 270px;
  background-color: #fff;
  border: 1px solid $bg-grey;
}

.products-table__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #fff;
}