.type-filter {
  border-bottom: 1px solid #E6E6E6;
}

.type-filter__header {
  padding: 20px;
}

.type-filter__title {
  @include filter-title-text;
  position: relative;
  width: 100%;
  text-align: start;

  &::after {
    position: absolute;
    content: '';
    top: 2px;
    right: 0;
    width: 17px;
    height: 17px;
    background: url('../../img/accordion-arrow-black.svg') center no-repeat;
  }

  &.open::after {
    transform: rotate(180deg);
  }
}

.type-filter__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 20px 20px;
}

.type-filter__checkbox {
  @include strong-text;
  position: relative;
  padding-left: 28px;
  color: $grey;

  &::before {
    position: absolute;
    content: '';
    top: -2px;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 1px solid #E6E6E6;
    border-radius: 2px;
  }

  &.checked {
    color: #000;

    &::after {
      position: absolute;
      content: '';
      top: 2px;
      left: 4px;
      width: 10px;
      height: 10px;
      background-color: $red;
      border-radius: 1px;
    }
  }
}
